extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  .wrapper
    include ../common/header
    h1 Страничка "Обо Мне" 
    h1 Должна была быть, но нет
    h1 в 5 утра работоспособность потеряна.
    h1 =( 