extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  .wrapper
    include ../common/header
    .about__triangles
      .triangle-about__left
      .triangle-about__right
    .about-me__content
      .about-me__left
        .about-me__header
          +icon('about-header', 'about-header__icon')
          h1.centered.marked Обо Мне
        .about-me__desc
         .about-me__person-pic
          +image('ava/ava.jpg', 'Я', 'person-pic__about')
         .about-me__person-header
          h2.centered.marked Кто я
         .about-me__person-desc
          p Я веб разработчик из Подмосковья. Мне 34 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
      .about-me__right
        .about-me__skills-header 
          h2.centered.marked Чем я могу быть вам полезен
        .about-me__skills-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        ul.about-me__skills-list
          li.skills__item 
            h2 Frontend
            ul.skill__list
              li.skill_item
                +circle('95', 'HTML5')
              li.skill_item 
                +circle('90', 'CSS3')
              li.skill_item 
                +circle('90', 'JavaScript & JQuery')
          li.skills__item 
            h2 Backend
            ul.skill__list
              li.skill_item 
                +circle('45', 'PHP')
              li.skill_item 
                +circle('55', 'MySQL')
              li.skill_item 
                +circle('40', 'Node.js & npm')
              li.skill_item 
                +circle('60', 'Mongo.db')
          li.skills__item 
            h2 WorkFlow
            ul.skill__list
              li.skill_item 
                +circle('85', 'Git')
              li.skill_item 
                +circle('75', 'Gulp')
              li.skill_item 
                +circle('65', 'Bower')

    .about-me__map
      
      .about-me__contacts
        .contacts__header 
          h2.centered.marked Контакты
        ul.contacts__list
          li.contacts__item
            +icon('skype', 'contact__icon')
            .contact__desc iatrenin
          li.contacts__item
            +icon('envelope', 'contact__icon')
            .contact__desc itrenin@gmail.com
          li.contacts__item
            +icon('phone', 'contact__icon')
            .contact__desc +7(926) 034-92-34
          li.contacts__item
            +icon('map_marker', 'contact__icon')
            .contact__desc г.Ликино-Дулёво, ул.1 Мая
      +image('about/map.jpg', 'Карта', 'about-me__map-pic')
