extends ../auth.layout.pug

block content
  //- .hello-world какойто текст
  //-   +icon('portfolio_header', 'hello-world__block')
  //-   .inlined-svg
  //-   include ../common/footer
  .wrapper
    section.welcome
      a.auth-button(href = "#") Авторизоваться
      .welcome__person-container
        .person__pic
        .person__text
          h2 Тренин Илья
          p Личный сайт веб разработчика
        .socials.person__socials
          +icon('vk', 'welcome__social')

        .person__btns

      include ../common/footer
  