body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: aqua;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}
.wrapper--blocked {
  position: fixed;
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 95%;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.marked{
  display: block;
  position: relative;
  margin: auto;
  &:before{
    content: '';
    width: 20px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: gray;
    opacity: .5;
  }
  &:after{
    content: '';
    width: 20px;
    height: 5px;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: gray;
    opacity: .5;
  }
}
.centered{
  display: inline;
  margin: auto;
  &.marked{
    &::before{
        left: -40px;
    }
    &::after{
        right: -40px;
    }
  }
}
.percentage{
  position: relative;
  display: block;
  width: 115px;
  height: 115px;
  transform: rotate(-90deg);
  
}
.circle{
  fill: transparent;
  stroke-width: 15px;
  stroke: #ccc;
}
.circle-under{
  position: relative;
}
.circle-above{
  stroke: $aqua;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  
  // animation: fill 100s linear infinite;
  // animation-play-state: paused;
  //animation-delay: -50s;
}

@keyframes fill{
  from{
    stroke-dashoffset: 251;
  }
  to{
    stroke-dashoffset: 0;
  }
}
.circle-inner{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  text-align: center;
  font-size: 14px;
}