$aqua : #00bfa5;
$aqua-lite: #6fd1c6;
$aqua-deep: #078b82;
$aqua-btn: #26bbaa;
$text-dark: #455a64;
$text-grey-light: #949799;
$grey: #f1f1f2;
$grey-border: #646a6d;
$grey-dark: #555b5e;
$slider: #f0efe9;
$about-right: #eeebdf;

//brakepoints
$tablets: 768px;
$phones: 480px;
$laptop: 1200px;