script(type = "text/x-template")#auth-root
    .welcome__card-container
        transition(name = "fade")
            authBtn(
                @side-change = "handleChange" 
                :activeSide = "activeSide" 
                v-if = "activeSide === 'sideA'"
                )
        .welcome__card
            transition(name = "flip" mode = "out-in")
                component(:is = "activeSide" @side-change = "handleChange")
            //- authBtn
            //- sideA


script(type = "text/x-template")#auth-btn
    a(href = "#" @click.prevent = "clickHandle").auth-button Авторизоваться     
    //- a(href = "#" @click.prevent = "$emit('side-change')").auth-button Авторизоваться

script(type = "text/x-template")#side-a
    .welcome__person-container
        .person__pic
        .person__text
            h2 Тренин Илья
            p Личный сайт веб разработчика
        ul.socials.person__socials
            each social in ['vk', 'github', 'in']
                li.social__item
                    a(href='#').socials__link
                        +icon(social, 'welcome__social')
        ul.person__btns.socials
            each btn in ['Мои работы', 'Обо мне', 'Блог']
                li.person__btn 
                    +page(btn)

script(type = "text/x-template")#side-b
    .welcome__person-container
        form(action="").welcome__auth-form
            .auth-form__container
                .auth-form__header.marked
                    h2 Авторизуйтесь
                .auth-form__input
                    .auth-form__input-icon-container
                        .auth-form__input-icon &#61447
                    input(type="text" placeholder="Логин").auth-form__input-field
                .auth-form__input
                    .auth-form__input-icon-container
                        .auth-form__input-icon &#61572
                    input(type="password" placeholder="Пароль").auth-form__input-field
                .auth-form__is-human
                    .is-human__checkbox-container
                        input(type="checkbox" name="isHuman")#isHuman.is-human__check
                        label(for="isHuman") Я человек
                            //- +icon('check','is-human_checkbox')
                        
                    //-span Я человек
                .auth-form__robot-question 
                    b Вы точно не робот?
                .auth-form__radio-container
                    .radio-container
                        input(type="radio" name="robot")#robot__radio--yes.robot__radio
                        label(for="robot__radio--yes") Да
                    //-.auth-form__robot-answer Да
                    .radio-container
                        input(type="radio" name="robot" cheked)#robot__radio--no.robot__radio
                        label(for="robot__radio--no") Не уверен
                    //-.auth-form__robot-answer Не уверен
            ul.person__btns.socials
                li.person__btn
                    a(href = "#" @click.prevent = "clickHandle").person__link На главную
                li.person__btn
                    a(href = "#").person__link Войти
                    //- each btn in [['На главную', '#'],['Войти', '#']]
                    //-     li.person__btn
                    //-         a(href = btn[1]).person__link #{btn[0]}
    //- .welcome__person-container
    //-     form.login#login(method='Post' action='')
    //-       ul.login__sections
    //-         li.login__block
    //-           .login__title Авторизуйтесь
    //-         li.login__block.login__block--input
    //-           +icon(svgRoot + '#login', 'login')
    //-           input.login__input#username(type="text" placeholder="Логин" name="username")
    //-         li.login__block.login__block--input
    //-           +icon(svgRoot + '#password', 'login')
    //-           input.login__input#password(type="password" placeholder="Пароль" name="password")
    //-         li.login__block
    //-           input#isHuman(hidden type="checkbox", name="isHuman")
    //-           label.login__checkbox.checkbox(for="isHuman")
    //-             +icon(svgRoot + '#check', 'checkbox')
    //-           span.login__checkbox-description Я человек
    //-         li.login__block.login__block--radio
    //-           .login__question Вы точно не робот?
    //-           .login__answer
    //-             .login__answer-section
    //-               input#notRobot(hidden type="radio", name="isRobot" value="yes")
    //-               label.login__radio(for="notRobot")
    //-               span.login__radio-description Да
    //-             .login__answer-section
    //-               input#robot(hidden type="radio", name="isRobot" value="no" checked)
    //-               label.login__radio(for="robot")
    //-               span.login__radio-description Не уверен
    //-       .login__buttons
    //-         button.login__button#loginBack(type="reset") На главную
    //-         button.login__button#loginSubmit(type="submit") Войти