.header--blog{
    margin-bottom: 70px;
}
.main-content{
    display: flex;
    position: relative;
    font-size: 14px;
}

.main-content__menu-row{
    position: relative;
    min-width: 390px;
    flex-grow: 1;
    margin-right: 120px;
    @include laptop{
        min-width: 310px;
        margin-right: 100px;
    }
    text-align: right;
    @include tablets{
        display: none;
    }
}
.side-menu__nav{
    position: relative;
    padding-left: 120px;
    flex-grow: 1;
    @include laptop{
        padding-left: 20px;
    }
}
.side-menu__list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.side-menu__list--absolute{
    position: absolute;
    top: 0;
    
}
.side-menu__list--fixed{
    position: fixed;
    top: 0;
    width: 390px;    
}
.side-menu__item{
    display: block;
    width: 70%;
    
    padding: 20px 30px;
    &:hover{
        .side-menu__link{
            color: $aqua;
        }
    }
}
.side-menu__item--active{

    border-right: 3px solid $aqua;
    .side-menu__link{
        color: $aqua;
    }
}
.side-menu__link{
    text-decoration: none;
    color: $text-dark;
}
.main-content__content-row{
    margin-right: 310px;
    @include laptop{
        //width: 70%;
        margin-right: 110px;
    }
    @include tablets{
        width: 95%;
        margin: auto;
    }
}
.main-content__list{
    margin-bottom: 75px;
}
.main-content__item{
    &:last-child{
        &::after{
            display: none;
        }
    }
    &::after{
        display: block;
        content: "";
        width: 70%;
        @include tablets{
            width: 100%;
            
        }
        height: 5px;
        background-color: $grey;
        margin-top: 70px;
    }
    p{
        padding-bottom: 14px;
        padding-right: 100px;
        
        @include laptop{
            width: 95%;
            padding-right: 0;
        }
    }
    h1{
        font-family: 'bernier';
        font-weight: normal;
        font-size: 25px;
        margin-bottom: 30px;
    }
    time {
        display: block;
        color: $aqua-lite;
        margin-bottom: 30px;
    }
    margin-bottom: 70px;
       

}
.blog-content__img{
    width: 100%;
}