.work__header{
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works-header__icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: .1;
    width: 500px;
}
.work__page-name{
    width: 340px;
    font-family: 'bernier';
    //color: black;
    font-size: 30px;
}
.work__triangles{
    content: '';
    width: 100%;
    display: flex;
    position: relative;
}
.triangle__left{
    content: '';
    width: 50%;
    &::before{
        content: '';
        display: block;
        width: 50%;
        height: 150px;
        background-image: linear-gradient(to top right, white 0%, white 49.7%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
        position: absolute;
        top: -150px;
    }
}
.triangle__right{
    
    content: '';
    width: 50%;
    &::before{
        content: '';
        display: block;
        width: 50%;
        height: 150px;
        background-image: linear-gradient(to top left, white 0%, white 49.7%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
        position: absolute;
        top: -150px;
    }
}
.work__slider{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $slider;
}
.slider__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left_container{
    width: 420px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slide__name{
    font-family: 'bernier';
    font-size: 30px;
    width: auto;
    margin: auto;
    margin-bottom: 40px;
}
.slide__desc{
    border-bottom: 1px solid $aqua;
    border-top: 1px solid $aqua;
    padding: 20px 0;
    width: 100%;
    color: $aqua;
    margin-bottom: 40px;
}
.slide__view-btn{
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 20px 15px;
    background-color: $aqua;
    &:hover{
        background-color: $aqua-deep;
    }
    border-radius: 5px;
}
.link__container{
    position: relative;
    width: 20px;
    margin-right: 10px;
}
.link__icon{
    fill: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link__desc{
    color: #fff;
}
.slider__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.slide__disp{
    height: 525px;
    width: 100%;
}
.slide__img{
    height: 100%;
    display: block;   
    
}
.slide__controls{
    height: 225px;
    width: 100%;
    display: flex;
    .slide__img{
        filter: contrast(50%);
        width: 100%;
        //height: auto;
        text-align: center;
    }

}
.slide__down{
    width: 50%;
    position: relative;
    &:hover{
        .slide__img{
            filter: contrast(30%);
        }
    }
}
.slide__up{
    width: 50%;
    position: relative;
    &:hover{
        .slide__img{
            filter: contrast(30%);
        }
    }
   
}
.port-arrow__icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #ffffff;
    width: 45px;
    height: 30px;
    filter: contrast(100%);
}
.about__header{
    width: 100%;
    height: 205px;
    position: relative;
}
.about__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    opacity: 0.1;
}
.about__name{
    width: 300px;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'bernier';
    //color: #000;
}
.about__content{
    width: 100%;
    background: url('./assets/images/about/about-bg.png') top center / cover no-repeat;
    
}
.about__container{
    display: flex;
    flex-direction: column;
    width: 780px;
    margin: auto;
    padding-top: 75px;
}
.about__quotes{
    display: flex;
    justify-content: center;


}
.about__quote{
    width: 48%;
    margin-right: 20px;
    &:last-child{
        margin-right: 0;
    }
    margin-bottom: 70px;
}
.quote__head{
    position: relative;
    //content: '&#61709';
    height: 40px;
    font-family: 'fontawsome';
    font-size: 36px;
    color: $text-grey-light;
    margin-bottom: 30px;
}
.portfolio-header__icon{
    position: absolute;
    left: 0;
    top: 0;
    height: 36px;
    width: 36px;
    fill: gray;
}
.quote__text{
    margin-bottom: 25px;
}
.quote__author{
    display: flex;
}
.author__ava{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.author__pic{
    width: 100%;

}
.author-name__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $aqua;
}
.author__name{
    font-weight: bold;
    margin-bottom: 5px;
}
.author__desc{
    font-weight: normal;
}
.about__form{
    
    //background-color: #fff;
    //background-color: rgba(white, 0.5);
    width: 60%;
    margin: auto;
    margin-bottom: 150px;
    border: 1px solid black;
    &::before{
        display: block;
        content: '';
        background: url('./assets/images/about/about-bg.png') center center / no-repeat;
        //background-size: auto;
        //background-position: -590px -590px;
        filter: blur(2px);
    }
    border-radius: 5px
}
.form__inputs{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;   
    padding: 0px 20px;
}

.form__header{
    font-family: 'bernier';
    font-size: 30px;
    padding: 30px 30px;
    text-align: center;
    margin: auto;
}
.form__input{
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}
.form__textarea{
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}
.form__buttons{
    display: flex;
    justify-content: center;
}
.form__btn{
    display: block;
    width: 50%;
    padding-right: 2px;
    padding: 15px 0;
    background-color: $aqua-btn;
    color: #fff;
    &:hover{
        background-color: $aqua-deep;
    }
}
.btn__send{
    border-right: 2px solid $aqua-lite;
    border-radius: 0 0 0 5px;
}
.btn__reset{
    border-radius: 0 0 5px 0;
}