.work__header{
    width: 100%;
    height: 200px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works-header__icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: .1;
    width: 500px;
    @include tablets{
        width: 90%;

    }
}
.work__page-name{
    width: 340px;
    font-family: 'bernier';
    //color: black;
    font-size: 30px;
}
.work__triangles{
    content: '';
    width: 100%;
    display: flex;
    position: relative;
}
.triangle__left{
    content: '';
    width: 50%;
    &::before{
        content: '';
        display: block;
        width: 50%;
        height: 150px;
        background-image: linear-gradient(to top right, white 0%, white 49.7%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
        position: absolute;
        top: -150px;
    }
}
.triangle__right{
    
    content: '';
    width: 50%;
    &::before{
        content: '';
        display: block;
        width: 50%;
        height: 150px;
        background-image: linear-gradient(to top left, white 0%, white 49.7%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
        position: absolute;
        top: -150px;
    }
}
.work__slider{
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: $slider;
    //margin-bottom: 60px;
    overflow: hidden;
    @include tablets{
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 50px;

    }
}
.slider__left{
    width: 50%;
    //height: 80%;
    @include tablets{
        width: unset;
        height: 30%;
        order: 2;
        margin-bottom: 25px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left_container{
    max-width: 420px;
    margin: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //align-items: center;
    text-align: center;
}
.slide__name{
    font-family: 'bernier';
    font-size: 30px;
    @include tablets{
        font-size: 20px;
        margin-bottom: 20px;
    }
    width: auto;
    margin: auto;
    margin-bottom: 40px;
}
.slide__desc{
    border-bottom: 1px solid $aqua;
    border-top: 1px solid $aqua;
    padding: 20px 0;
    @include tablets{
        margin-bottom: 20px;
    }
    width: 100%;
    color: $aqua;
    margin-bottom: 40px;
}
.slide__view-btn{
    align-self: center;
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 15px 20px;
    @include tablets{
        line-height: .5;
    }
    
    background-color: $aqua;
    &:hover{
        background-color: $aqua-deep;
    }
    border-radius: 5px;
}
.link__container{
    position: relative;
    width: 20px;
    margin-right: 10px;
}
.link__icon{
    fill: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link__desc{
    color: #fff;
}
.slider__right{
    width: 50%;
    height: 80%;
    @include tablets{
        width: unset;
        height: 50%;
        order: 1;
        margin-bottom: 50px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.slide__disp{
    //height: 525px;
    width: 100%;
    padding: 3% 0;
    // @include tablets{
    //     width: unset;
    //     height: 0%;
    //     order: 3;
    // }
}
.slide__img{
    display: block;
    margin: auto;
    
    max-width: 50%;
    //height: 20%;
    transition: .3s;
}
.slide__controls{
    //height: 225px;
    width: 50%;
    height: 20%;
    
    @include tablets{
        width: unset;
        height: 20%;
        order: 3;
    }
    align-self: right;
    display: flex;
    .slide__img{
        filter: contrast(50%);
        height: 100%;
        //height: 50%;
        height: auto;
        text-align: center;
    }

}
.slide__down{
    width: 50%;
    height: 100%;
    position: relative;
    padding: 3% 0;
    background-color: rgba(grey, .3);
    &:hover{
        background-color: rgba(grey, .5);
        .slide__img{
            height: auto;
            filter: contrast(30%);
    
        }
    }
}
.slide__up{
    width: 50%;
    height: 100%;
    position: relative;
    padding: 3% 0;
    background-color: rgba(grey, .3);
    &:hover{
        background-color: rgba(grey, .5);
        .slide__img{
            filter: contrast(30%);
        }
    }
   
}
.port-arrow__icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #ffffff;
    width: 45px;
    height: 30px;
    filter: contrast(100%);
}
.about__comments{
    position: relative;
    //background: url('./assets/images/about/about-bg.png') 50% / cover no-repeat;
    //background: url('./assets/images/about/about-bg.png') center top no-repeat;
}
.about__comments-bg{
    width: 100%;
    height: 100%;
    min-width: 1400px;
    position: absolute;
    top: 0;
    left: 0;
}
.about__img-bg{
    z-index: -2;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.about__header{
    width: 100%;
    height: 255px;
    padding-top: 60px;
    position: relative;
}
.about__icon{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    opacity: 0.1;
    @include tablets{
        width: 90%;

    }
}
.about__name{
    width: 300px;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'bernier';
    //color: #000;
}
.about__content{
    width: 100%;
    position: relative;
    
}
.about__container{
    display: flex;
    flex-direction: column;
    width: 780px;
    @include tablets{
        width: 95%;
        padding-top: 30px;
    }
    margin: auto;
    padding-top: 75px;
}
.about__quotes{
    display: flex;
    justify-content: center;
    @include phones{
        flex-direction: column;
    }


}
.about__quote{
    width: 48%;
    margin-right: 20px;
    margin-bottom: 70px;
    &:last-child{
        margin-right: 0;
    }
    @include phones{
        width: 90%;
        margin-right: 0;
        margin-bottom: 35px;
    }
    
}
.quote__head{
    position: relative;
    //content: '&#61709';
    height: 40px;
    font-family: 'fontawsome';
    font-size: 36px;
    color: $text-grey-light;
    margin-bottom: 30px;
    @include phones{
        text-align: center;
    }

}
.portfolio-header__icon{
    position: absolute;
    left: 0;
    top: 0;
    height: 36px;
    width: 36px;
    fill: gray;
}
.quote__text{
    margin-bottom: 25px;
}
.quote__author{
    display: flex;
}
.author__ava{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.author__pic{
    width: 100%;

}
.author-name__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $aqua;
}
.author__name{
    font-weight: bold;
    margin-bottom: 5px;
}
.author__desc{
    font-weight: normal;
}
.about__form{
    z-index: 10000;
    position: relative;
    background-color: #fff;
    
    //filter: blur(5px);
    //backdrop-filter: blur(2px);
    width: 60%;
    
    @include phones{
        width: 100%;
    }
    margin: auto;
    margin-bottom: 150px;
    //border: 1px solid black;
    // &::before{
    //     display: block;
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     background: url('./assets/images/about/about-bg.png') center top no-repeat;
    //     //background-size: auto;
    //     //background-position: -590px -590px;
    //     filter: blur(2px);
    // }
    border-radius: 5px
}
.about__form-background{
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
    width: 100%;
    
    background: url('./assets/images/about/about-bg.png') no-repeat;
    
    //background-position: -770px -641px;
    //background-size: auto;
    filter: blur(5px) opacity(.8);

}
.form__inputs{
    z-index: 100;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;   
    padding: 0px 20px;
}

.form__header{
    font-family: 'bernier';
    font-size: 30px;
    padding: 30px 30px;
    text-align: center;
    margin: auto;
}
.form__input{
    
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
}
.form__textarea{
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    resize: none;
    border: none;
}
.form__buttons{
    display: flex;
    justify-content: center;
}
.form__btn{
    display: block;
    width: 50%;
    padding-right: 2px;
    padding: 15px 0;
    background-color: $aqua-btn;
    color: #fff;
    &:hover{
        background-color: $aqua-deep;
    }
}
.btn__send{
    border-right: 2px solid $aqua-lite;
    border-radius: 0 0 0 5px;
}
.btn__reset{
    border-radius: 0 0 5px 0;
}